# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

gradlew
gradlew.bat
gradle/
MinecraftForge-Credits.txt
MinecraftForge-License.txt
Paulscode IBXM Library License.txt
forge-1.8.9-11.15.1.1722-changelog.txt
src/main/java/com/example/examplemod/ExampleMod.java
README.txt
CREDITS-fml.txt
Paulscode SoundSystem CodecIBXM License.txt